<?xml version="1.0" encoding="utf-8" ?>
<modules>
  <module assemblyFile="Cet.Hw.Core.SmartClient" moduleType="Cet.Hw.Core.SmartClient.CoreModule, Cet.Hw.Core.SmartClient" moduleName="CoreModule"/>


  <module assemblyFile="Measuring.SmartClient" moduleType="Measuring.SmartClient.MeasuringModule, Measuring.SmartClient" moduleName="MmModule">
    <dependencies>
      <dependency moduleName="CoreModule"/>
    </dependencies>
  </module>

</modules>