<?xml version="1.0" encoding="utf-8"?>
<extensions>
  <behaviorExtensions>
    <add name="MessageHeaderInserterBehavior"
      type="Cet.SmartClient.Client.MessageHeaderInserterBehaviorElement, Cet.SmartClient.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </behaviorExtensions>
</extensions>