<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<assembly name="TalaadThaiWg.Shell" xdt:Transform="Insert"/>
	<namespace name="TalaadThaiWg.Shell" xdt:Transform="Insert"/>
	<namespace name="TalaadThaiWg.Shell.Commands" xdt:Transform="Insert"/>
	<assembly name="Cet.Hw.Core.SmartClient"/>
	<namespace name="Cet.Hw.Core.SmartClient"/>
	<namespace name="Cet.Hw.Core.SmartClient.ViewModels"/>

	<containers>
		<container>
			<instance name="ServerBaseUrl" value="http://msat.web:8107" xdt:Transform="Insert"/>
			<instance name="DecimalScaleClient" value="2" type="System.Byte" xdt:Transform="Insert"/>
			<instance name="AppTitle" value="TalaadThai Weight Records Solution" xdt:Transform="Insert"/>
			<instance name="MinimumLengthAutoTextSearch" value="2" type="System.Byte" xdt:Transform="Insert"/>
			<instance name="DelayResetStanbyInput" value="5000" type="System.Int32" xdt:Transform="Insert"/>
			<instance name="ErrorValueReceive" value="100" type="System.Decimal" xdt:Transform="Insert"/>
			<instance name ="DefaultLogoURL" value ="/Images/LOGO.png" xdt:Transform="Replace" xdt:Locator="Match(name)" />

			<instance name="AllowMultipleSignIn" value ="true" type="System.Boolean" xdt:Transform="Insert"/>
			<instance name="DecimalPrecision" value="18" type="System.Byte" xdt:Transform="Insert"/>
			<instance name="DecimalScale" value="8" type="System.Byte" xdt:Transform="Insert"/>
			<instance name="MinuteInactiveTime" value="60" type="System.Byte" xdt:Transform="Insert"/>
			<instance name="DefaultOUClient" value="C84D4007-5123-4AB3-BB67-B68F8055FB81" xdt:Transform="Insert"/>
			<instance name="DefaultSchema" value="dbo" xdt:Transform="Insert"/>

			<types>
				<type type="MenuCommand" mapTo="HomeCommand" name="HomePageCommand" xdt:Transform="Insert" />
				<type type="MenuCommand" mapTo="LogoutCommand" name="Logout" xdt:Transform="Insert" />

				<!--StartConfig-Server-->
				<type type="DemoTalaadThaiWg.Data.IntsUnitOfWork, DemoTalaadThaiWg.Data" mapTo="DemoTalaadThaiWg.Data.IntsUnitOfWork, DemoTalaadThaiWg.Data" xdt:Transform="Insert"  >
					<constructor>
						<param name="configurationName">
							<value value="IntsTechDB"/>
						</param>
						<param name="container">
							<dependency type="Microsoft.Practices.Unity.IUnityContainer, Microsoft.Practices.Unity"/>
						</param>
					</constructor>
					<lifetime type="HierarchicalLifetimeManager"/>
				</type>

				<type type="Cet.EntityFramework.Adaptor.IDbContextInitializer, Cet.EntityFramework.Adaptor" mapTo="DemoTalaadThaiWg.Data.DbContextInitializer, DemoTalaadThaiWg.Data" name="MmInitializer" xdt:Transform="Insert"  />

				<type type="Cet.Hw.Core.Domain.IDocumentRunningNoIntroductory, Cet.Hw.Core.Domain" mapTo="DemoTalaadThaiWg.Data.DocumentRunningNoIntroductory, DemoTalaadThaiWg.Data" xdt:Transform="Insert"  />
				<type type="DemoTalaadThaiWg.Domain.IMeasuringRepository, DemoTalaadThaiWg.Domain" mapTo="DemoTalaadThaiWg.Data.MeasuringRepository, DemoTalaadThaiWg.Data" xdt:Transform="Insert"  />


				<type name="MeasuringMoveItemRemoveEvent" type="Cet.EntityFramework.Adaptor.IHandles`1[[DemoTalaadThaiWg.Domain.MeasuringMoveItemRemoveEvent, DemoTalaadThaiWg.Domain]], Cet.EntityFramework.Adaptor" mapTo="DemoTalaadThaiWg.Data.MeasuringRepository, DemoTalaadThaiWg.Data" xdt:Transform="Insert"  />

				<type type="Cet.Hw.Core.Domain.Services.IDocumentRunningService`1[[DemoTalaadThaiWg.Domain.Measuring, DemoTalaadThaiWg.Domain]], Cet.Hw.Core.Domain" mapTo="DemoTalaadThaiWg.Data.MeasuringDocumentRunningService, DemoTalaadThaiWg.Data" xdt:Transform="Insert"  >
					<constructor>
						<param name="prefix">
							<value value="MM"/>
						</param>
						<param name="length">
							<value value="4"/>
						</param>
					</constructor>
				</type>

				<type name="Into" type="Cet.Hw.Core.Domain.Services.IDocumentRunningService`1[[DemoTalaadThaiWg.Domain.Measuring, DemoTalaadThaiWg.Domain]], Cet.Hw.Core.Domain" mapTo="DemoTalaadThaiWg.Data.MeasuringDocumentRunningService, DemoTalaadThaiWg.Data" xdt:Transform="Insert" >
					<constructor>
						<param name="prefix">
							<value value="MR"/>
						</param>
						<param name="length">
							<value value="4"/>
						</param>
					</constructor>
				</type>

				<type name="Records" type="Cet.Hw.Core.Domain.Services.IDocumentRunningService`1[[DemoTalaadThaiWg.Domain.Measuring, DemoTalaadThaiWg.Domain]], Cet.Hw.Core.Domain" mapTo="DemoTalaadThaiWg.Data.MeasuringDocumentRunningService, DemoTalaadThaiWg.Data" xdt:Transform="Insert" >
					<constructor>
						<param name="prefix">
							<value value="MI"/>
						</param>
						<param name="length">
							<value value="4"/>
						</param>
					</constructor>
				</type>

				<type name="Out" type="Cet.Hw.Core.Domain.Services.IDocumentRunningService`1[[DemoTalaadThaiWg.Domain.Measuring, DemoTalaadThaiWg.Domain]], Cet.Hw.Core.Domain" mapTo="DemoTalaadThaiWg.Data.MeasuringDocumentRunningService, DemoTalaadThaiWg.Data" xdt:Transform="Insert"  >
					<constructor>
						<param name="prefix">
							<value value="MT"/>
						</param>
						<param name="length">
							<value value="4"/>
						</param>
					</constructor>
				</type>
				<!--EndConfig-Server-->
			</types>

		</container>
	</containers>
</unity>