<?xml version="1.0" encoding="utf-8" ?>
<client xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <endpoint name="MenuService" address="http://dummy/Modules/Core.AppService/MenuService.svc" binding="basicHttpBinding" contract="Cet.Hw.Core.AppServiceContract.IMenuService" bindingConfiguration="basicHttpEndpointBinding" behaviorConfiguration="MessageHeaderInserterBehavior" xdt:Transform="Insert"/>
  <endpoint name="FormAuthenticationService" address="http://dummy/Modules/Core.AppService/FormAuthenticationService.svc" binding="basicHttpBinding" contract="Cet.Hw.Core.AppServiceContract.IFormAuthenticationService" bindingConfiguration="basicHttpEndpointBinding" behaviorConfiguration="MessageHeaderInserterBehavior" xdt:Transform="Insert"/>
  <endpoint name="UserService" address="http://dummy/Modules/Core.AppService/UserService.svc" binding="basicHttpBinding" contract="Cet.Hw.Core.AppServiceContract.IUserService" bindingConfiguration="basicHttpEndpointBinding" behaviorConfiguration="MessageHeaderInserterBehavior" xdt:Transform="Insert"/>
</client>