<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <assembly name="Cet.Hw.Core.SmartClient" xdt:Transform="Insert" />
  <namespace name="Cet.Hw.Core.SmartClient" xdt:Transform="Insert" />
  <namespace name="Cet.Hw.Core.SmartClient.Commands" xdt:Transform="Insert" />
  <assembly name="Cet.Hw.Core.SmartClient.ViewModels" xdt:Transform="Insert" />
  <namespace name="Cet.Hw.Core.SmartClient.ViewModels" xdt:Transform="Insert" />
  <assembly name="Cet.Hw.Core.AppServiceContract" xdt:Transform="Insert" />
  <namespace name="Cet.Hw.Core.AppServiceContract" xdt:Transform="Insert" />
  <containers>
    <container>
      <instance name ="BGImageUrl" value ="BGImageUrl" xdt:Transform="Insert"/>
      <instance name ="DefaultLogoURL" value ="/Images/LogoCetSoft/CET_LOGO.jpg" xdt:Transform="Insert"/>
      
      <types>
        <type type="MessageHeaderInserterBase" mapTo="CultureMessageHeaderInserter" name="CultureMessageHeaderInserter" xdt:Transform="Insert"/>


        <type type="ChannelFactory`1[IUserService]" xdt:Transform="Insert">
          <constructor>
            <param name="endpointConfigurationName">
              <value value="UserService"/>
            </param>
          </constructor>
          <lifetime type="singleton"/>
        </type>
        <type type="IUserService" xdt:Transform="Insert">
          <factory type="ChannelInjectionFactory`1[IUserService]" method="CreateChannel" />
        </type>
        
        <type type="ChannelFactory`1[IMenuService]" xdt:Transform="Insert">
          <constructor>
            <param name="endpointConfigurationName">
              <value value="MenuService"/>
            </param>
          </constructor>
          <lifetime type="singleton"/>
        </type>
        <type type="IMenuService" xdt:Transform="Insert">
          <factory type="ChannelInjectionFactory`1[IMenuService]" method="CreateChannel" />
        </type>
        
        <type type="ChannelFactory`1[IFormAuthenticationService]" xdt:Transform="Insert">
          <constructor>
            <param name="endpointConfigurationName">
              <value value="FormAuthenticationService"/>
            </param>
          </constructor>
          <lifetime type="singleton"/>
        </type>
        <type type="IFormAuthenticationService"  xdt:Transform="Insert">
          <factory type="ChannelInjectionFactory`1[IFormAuthenticationService]" method="CreateChannel"/>
        </type>


        <type type="MenuCommand" mapTo="AboutCommand" name="About"  xdt:Transform="Insert"/>
        <type type="MenuCommand" mapTo="ChangeLanguageCommand" name="LanguageENCommand"  xdt:Transform="Insert">
          <constructor>
            <param name="container">
              <dependency type="Microsoft.Practices.Unity.IUnityContainer, Microsoft.Practices.Unity"/>
            </param>
            <param name="languageName" value="en-US"/>
          </constructor>
        </type>
        <type type="MenuCommand" mapTo="ChangeLanguageCommand" name="LanguageTHCommand" xdt:Transform="Insert">
          <constructor>
            <param name="container">
              <dependency type="Microsoft.Practices.Unity.IUnityContainer, Microsoft.Practices.Unity"/>
            </param>
            <param name="languageName" value="th-TH"/>
          </constructor>
        </type>
        
        <type type="MenuCommand" mapTo="UserManagerCommand" name="UserManager"  xdt:Transform="Insert"/> 
 
        <!--<type type="IResourceSelector" mapTo="MenuSearchVM" name="Menu"  xdt:Transform="Insert"/>
        <type type="ACLSearchVM" mapTo="ACLSearchVM" name="Menu"  xdt:Transform="Insert"/>
        <type type="ACLSearchVM" mapTo="GeneralACLSearchVM" name="PO"  xdt:Transform="Insert"/>
        <type type="ACLSearchVM" mapTo="GeneralACLSearchVM" name="IN"  xdt:Transform="Insert"/>
        <type type="ACLSearchVM" mapTo="GeneralACLSearchVM" name="FI"  xdt:Transform="Insert"/>
        <type type="ACLSearchVM" mapTo="GeneralACLSearchVM" name="SO"  xdt:Transform="Insert"/>-->

        <!--<type type="ClientConfiguration" xdt:Transform="Insert">
          <lifetime type="singleton"/>
        </type>-->

      </types>
    </container>
  </containers>
</unity>
