<?xml version="1.0" encoding="utf-8" ?>
<client xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >

  <endpoint name="MeasuringService" address="http://dummy/Modules/Mm.AppService/MeasuringService.svc" binding="basicHttpBinding" contract="Measurement.AppServiceContract.IMeasuringService" bindingConfiguration="basicHttpEndpointBinding" behaviorConfiguration="MessageHeaderInserterBehavior" xdt:Transform="Insert"/>
  <endpoint name="MeasuringReportService" address="http://dummy/Modules/Mm.AppService/MeasuringReportService.svc" binding="basicHttpBinding" contract="Measurement.AppServiceContract.IMeasuringReportService" bindingConfiguration="basicHttpEndpointBinding" behaviorConfiguration="MessageHeaderInserterBehavior" xdt:Transform="Insert"/>
  <endpoint name="ProcessPlanService" address="http://dummy/Modules/Mm.AppService/ProcessPlanService.svc" binding="basicHttpBinding" contract="Measurement.AppServiceContract.IProcessPlanService" bindingConfiguration="basicHttpEndpointBinding" behaviorConfiguration="MessageHeaderInserterBehavior" xdt:Transform="Insert"/>

</client>