<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <assembly name="Measurement.AppServiceContract" xdt:Transform="Insert" />
  <namespace name="Measurement.AppServiceContract" xdt:Transform="Insert" />
  <assembly name="Measuring.SmartClient"  xdt:Transform="Insert" />
  <namespace name="Measuring.SmartClient" xdt:Transform="Insert"  />
  <namespace name="Measuring.SmartClient.ViewModels" xdt:Transform="Insert"  />
  <namespace name="Measuring.SmartClient.Commands" xdt:Transform="Insert"  />
  <containers>
    <container>

      <instance name="DefaultUnitId" value="27F48DB5-7C17-4CDA-9D90-25E800AC3A7F" type="System.Guid" xdt:Transform="Insert"/>

      <instance name="ComportNameInput" value="COM3" type="System.String" xdt:Transform="Insert"/>
      <instance name="ComportNameOutput" value="COM7" type="System.String" xdt:Transform="Insert"/>
      <instance name="ComportDataStartText" value="ST,GROSS" type="System.String" xdt:Transform="Insert"/>
      <instance name="ComportDataEndText" value="kg" type="System.String" xdt:Transform="Insert"/>
      <instance name="ComportDataStartPoint" value="10" type="System.Byte" xdt:Transform="Insert"/>
      <instance name="ComportDataLength" value="8" type="System.Byte" xdt:Transform="Insert"/>

      <instance name="PartRecordsPrintFormPath" value="\Reports\PartRecordsPrintForm.rdlc" type="string" xdt:Transform="Insert"/>
      <instance name="WgRecordsGroupingReportPath" value="\Reports\WgRecordsGroupingReport.rdlc" type="string" xdt:Transform="Insert"/>

      <instance name="SeqArrPoint" value="POS_SEQ" type="System.String" xdt:Transform="Insert"/>
      <instance name="PosNoArrPoint" value="POSNO" type="System.String" xdt:Transform="Insert"/>
      <instance name="PlanDateArrPoint" value="PLANEDDATE" type="System.String" xdt:Transform="Insert"/>
      <instance name="MachineCodeArrPoint" value="MACHINE" type="System.String" xdt:Transform="Insert"/>
      <instance name="CoilPackingCodeArrPoint" value="COILNO" type="System.String" xdt:Transform="Insert"/>
      <instance name="CoilWeightArrPoint" value="COILWEIGHT" type="System.String" xdt:Transform="Insert"/>
      <instance name="WeightPrecisionLimit" value="10" type="System.Decimal" xdt:Transform="Insert"/>

      <instance name="ImportFilePath" value="D:\TheScale\INPUT" type="System.String" xdt:Transform="Insert"/>
      <instance name="ExtensionImportFile" value="*.csv" type="System.String" xdt:Transform="Insert"/>
      <instance name="IntervalAutoImportSec" value="30" type="System.Int32" xdt:Transform="Insert"/>
      <instance name="ImportedFilePath" value="D:\TheScale\INPUT\BAK" type="System.String" xdt:Transform="Insert"/>
      <instance name="ExtensionFileImported" value=".imported" type="System.String" xdt:Transform="Insert"/>
      <instance name="ExportFilePath" value="D:\TheScale\OUTPUT" type="System.String" xdt:Transform="Insert"/>
      <instance name="ExportFileNameFormat" value="scaleresult_{0}.{1}" type="System.String" xdt:Transform="Insert"/>
      <instance name="FileDateTimeFormat" value="yyMMdd_HHmmss" type="System.String" xdt:Transform="Insert"/>
      
      <instance name="AutoSaveLimitCounting" value="300" type="System.Int32" xdt:Transform="Insert"/>
      <instance name="MinWgAllowAutoSave" value="200" type="System.Int32" xdt:Transform="Insert"/>

      <types>

        <type type="ChannelFactory`1[IMeasuringService]" xdt:Transform="Insert">
          <constructor>
            <param name="endpointConfigurationName">
              <value value="MeasuringService"/>
            </param>
          </constructor>
          <lifetime type="singleton"/>
        </type>
        <type type="IMeasuringService" xdt:Transform="Insert">
          <factory type="ChannelInjectionFactory`1[IMeasuringService]" method="CreateChannel" />
        </type>

        <type type="ChannelFactory`1[IMeasuringReportService]" xdt:Transform="Insert">
          <constructor>
            <param name="endpointConfigurationName">
              <value value="MeasuringReportService"/>
            </param>
          </constructor>
          <lifetime type="singleton"/>
        </type>
        <type type="IMeasuringReportService" xdt:Transform="Insert">
          <factory type="ChannelInjectionFactory`1[IMeasuringReportService]" method="CreateChannel" />
        </type>

        <type type="ChannelFactory`1[IProcessPlanService]" xdt:Transform="Insert">
          <constructor>
            <param name="endpointConfigurationName">
              <value value="ProcessPlanService"/>
            </param>
          </constructor>
          <lifetime type="singleton"/>
        </type>
        <type type="IProcessPlanService" xdt:Transform="Insert">
          <factory type="ChannelInjectionFactory`1[IProcessPlanService]" method="CreateChannel" />
        </type>

        <type type="MenuCommand" mapTo="PartTransferReceiveSearchCommand" name="ReceiveSearchCommand"  xdt:Transform="Insert"/>
        <type type="MenuCommand" mapTo="PartTransfer_ReceiveEditorCommand" name="PartTransferReceiveCommand"  xdt:Transform="Insert"/>
        <type type="MenuCommand" mapTo="WgRecordsGroupingReportCommand" name="WgRecordsGroupingReportCommand"  xdt:Transform="Insert"/>
        <type type="MenuCommand" mapTo="ProcessPlanSearchCommand" name="ProcessPlanSearchCommand"  xdt:Transform="Insert"/>

      </types>

      <type type="IDocumentOpenInfo" mapTo="DocumentOpenerInfo" name="DocumentOpenerInfo" xdt:Transform="Insert" />

    </container>
  </containers>
</unity>