<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >

  <containers>
    <container>

      <types>
        <type type="Cet.EntityFramework.Adaptor.IDbContextInitializer, Cet.EntityFramework.Adaptor" mapTo="Measurement.Data.DbContextInitializer, Measurement.Data" name="MeasurementInitializer" xdt:Transform="Insert"/>

        <type type="Measurement.Domain.IMeasuringIntroductory, Measurement.Domain" mapTo="Measurement.Data.MeasuringIntroductory, Measurement.Data" xdt:Transform="Insert" />
        <type type="Measurement.Domain.IUnitIntroductory, Measurement.Domain" mapTo="Measurement.Data.UnitIntroductory, Measurement.Data" xdt:Transform="Insert" />
        <type type="Measurement.Domain.IDocumentRunningNoIntroductory, Measurement.Domain" mapTo="Measurement.Data.DocumentRunningNoIntroductory, Measurement.Data" xdt:Transform="Insert" />
        <type type="Measurement.Domain.IProcessPlanImportedIntroductory, Measurement.Domain" mapTo="Measurement.Data.ProcessPlanImportedIntroductory, Measurement.Data" xdt:Transform="Insert" />

        <type name="MeasuringMoveItemRemoveEvent" type="Cet.EntityFramework.Adaptor.IHandles`1[[Measurement.Domain.MeasuringMoveItemRemoveEvent, Measurement.Domain]], Cet.EntityFramework.Adaptor" mapTo="Measurement.Data.MeasuringIntroductory, Measurement.Data" xdt:Transform="Insert"/>
        <type name="ProcessPlanItemRemoveEvent" type="Cet.EntityFramework.Adaptor.IHandles`1[[Measurement.Domain.ProcessPlanItemRemoveEvent, Measurement.Domain]], Cet.EntityFramework.Adaptor" mapTo="Measurement.Data.ProcessPlanImportedIntroductory, Measurement.Data" xdt:Transform="Insert"/>

        <type type="Measurement.Domain.IDocumentRunningService`1[[Measurement.Domain.Measuring, Measurement.Domain]], Measurement.Domain" mapTo="Measurement.Data.MeasuringDocumentRunningService, Measurement.Data" xdt:Transform="Insert">
          <constructor>
            <param name="prefix">
              <value value="MM"/>
            </param>
            <param name="length">
              <value value="4"/>
            </param>
          </constructor>
        </type>

        <type name="Records" type="Measurement.Domain.IDocumentRunningService`1[[Measurement.Domain.Measuring, Measurement.Domain]], Measurement.Domain" mapTo="Measurement.Data.MeasuringDocumentRunningService, Measurement.Data" xdt:Transform="Insert">
          <constructor>
            <param name="prefix">
              <value value="MR"/>
            </param>
            <param name="length">
              <value value="4"/>
            </param>
          </constructor>
        </type>

        <type type="Measurement.Domain.IDocumentRunningService`1[[Measurement.Domain.ProcessPlanImported, Measurement.Domain]], Measurement.Domain" mapTo="Measurement.Data.ProcessPlanImportedRunningService, Measurement.Data" xdt:Transform="Insert">
          <constructor>
            <param name="prefix">
              <value value="PI"/>
            </param>
            <param name="length">
              <value value="4"/>
            </param>
          </constructor>
        </type>
        

      </types>

    </container>
  </containers>
</unity>
