<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >

  <containers>
    <container>

      <instance name ="AllowMultipleSignIn" value ="false" type="System.Boolean" xdt:Transform="Insert"/>
      <instance name="MinuteInactiveTime" value="180" type="System.Byte" xdt:Transform="Insert"/>
      <instance name="AdminGroupId" value="0aea0363-fe1e-4c52-87a3-b484c6f35587" type="System.Guid" xdt:Transform="Insert"/>

      <instance name ="RequireUpperChar" value ="false" type="System.Boolean" xdt:Transform="Insert"/>
      <instance name ="RequireLowerChar" value ="true" type="System.Boolean" xdt:Transform="Insert"/>
      <instance name ="RequireNumeric" value ="true" type="System.Boolean" xdt:Transform="Insert"/>
      <instance name ="RequireSpecialChar" value ="false" type="System.Boolean" xdt:Transform="Insert"/>
      <instance name ="PasswordLength" value ="8" type="System.Byte" xdt:Transform="Insert"/>
      <instance name ="PasswordExpire" value ="365" type="System.Int32" xdt:Transform="Insert"/>

      <instance name="DecimalPrecision" value="18" type="System.Byte" xdt:Transform="Insert"/>
      <instance name="DecimalScale" value="2" type="System.Byte" xdt:Transform="Insert"/>
      
      <types>

        <type type="Cet.EntityFramework.Adaptor.IDbContextInitializer, Cet.EntityFramework.Adaptor" mapTo="Cet.Hw.Core.Data.DbContextInitializer, Cet.Hw.Core.Data" name="HwCoreInitializer" xdt:Transform="Insert"/>

        <type type="Cet.Hw.Core.Domain.IMenuIntroductory, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Data.MenuIntroductory, Cet.Hw.Core.Data" xdt:Transform="Insert" />
        <type type="Cet.Hw.Core.Domain.IUserIntroductory, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Data.UserIntroductory, Cet.Hw.Core.Data" xdt:Transform="Insert" />
        <type type="Cet.Hw.Core.Domain.IUserTokenIntroductory, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Data.UserTokenIntroductory, Cet.Hw.Core.Data" xdt:Transform="Insert" />
        <!--<type type="Cet.Hw.Core.Domain.IAuditLogIntroductory, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Data.AuditLogIntroductory, Cet.Hw.Core.Data" xdt:Transform="Insert" />
        <type type="Cet.Hw.Core.Domain.IAuditLogCategoryIntroductory, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Data.AuditLogCategoryIntroductory, Cet.Hw.Core.Data" xdt:Transform="Insert" />
        <type type="Cet.Hw.Core.Domain.IAuditLogMessageIntroductory, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Data.AuditLogMessageIntroductory, Cet.Hw.Core.Data" xdt:Transform="Insert" />-->
        <type type="Cet.Hw.Core.Domain.IFileInfoIntroductory, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Data.FileInfoIntroductory, Cet.Hw.Core.Data" xdt:Transform="Insert" />
        <type type="Cet.Hw.Core.Domain.IOuIntroductory, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Data.OuIntroductory, Cet.Hw.Core.Data" xdt:Transform="Insert" />
        <type type="Cet.Hw.Core.Domain.IConfigurationIntroductory, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Data.ConfigurationIntroductory, Cet.Hw.Core.Data" xdt:Transform="Insert" />
        
        <type type="Cet.Hw.Core.Domain.IDomainAuthenticationService, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Domain.FormAuthenticationService, Cet.Hw.Core.Domain" name="MyAccount" xdt:Transform="Insert" />
        <!--<type type="Cet.Hw.Core.Domain.IDomainAuthenticationService, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Domain.LDAPAuthenticationService, Cet.Hw.Core.Domain" name="Ldap" xdt:Transform="Insert" />
        <type type="Cet.Hw.Core.Domain.IDomainAuthenticationService, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Domain.FacebookAuthenticationService, Cet.Hw.Core.Domain" name="Facebook" xdt:Transform="Insert" />
        <type type="Cet.Hw.Core.Domain.IDomainAuthenticationService, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Domain.GoogleAuthenticationService, Cet.Hw.Core.Domain" name="Google" xdt:Transform="Insert" />-->
        <type type="Cet.Hw.Core.Domain.IConfiguration, Cet.Hw.Core.Domain" mapTo="Cet.Hw.Core.Domain.ConfigurationService, Cet.Hw.Core.Domain" xdt:Transform="Insert" />
       
      </types>
    </container>
  </containers>
</unity>
