<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
		<section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>
	<connectionStrings configSource="Configs\Connections.config" />
	<loggingConfiguration configSource="Configs\Logging.config" />
	<unity configSource="Configs\Unity.config" />
	<validation configSource="Configs\Validation.config" />
	<modules configSource="Configs\Modules.config" />
	<system.serviceModel>
		<client configSource="Configs\ServiceEndPoints.config" />
		<extensions configSource="Configs\ServiceExtensions.config" />
		<behaviors configSource="Configs\ServiceBehaviors.config" />
		<bindings configSource="Configs\ServiceBindings.config" />
	</system.serviceModel>
	<system.net>
		<defaultProxy useDefaultCredentials="true">
		</defaultProxy>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<appSettings>
		<add key="DefaultCulture" value="th-TH" />
		<add key="DefaultCalendarCulture" value="th-TH" />
	</appSettings>

</configuration>