<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>

      <!--<service behaviorConfiguration="UnityServiceBehavior" name="Fs.Erp.Core.AppService.WebFormAuthenticationService">
        <endpoint binding="webHttpBinding" address="" contract="Fs.Erp.Core.AppServiceContract.IWebFormAuthenticationService" bindingConfiguration="webHttpEndpointBinding" behaviorConfiguration="webby"/>
      </service>-->

      <service behaviorConfiguration="UnityServiceBehavior" name="Cet.Hw.Core.AppService.MenuService">
        <endpoint binding="basicHttpBinding" address="" contract="Cet.Hw.Core.AppServiceContract.IMenuService" bindingConfiguration="basicHttpEndpointBinding"/>
      </service>
      <service behaviorConfiguration="UnityServiceBehavior" name="Cet.Hw.Core.AppService.UserService">
        <endpoint binding="basicHttpBinding" address="" contract="Cet.Hw.Core.AppServiceContract.IUserService" bindingConfiguration="basicHttpEndpointBinding"/>
      </service>
      <service behaviorConfiguration="UnityServiceBehavior" name="Cet.Hw.Core.AppService.FormAuthenticationService">
        <endpoint binding="basicHttpBinding" address="" contract="Cet.Hw.Core.AppServiceContract.IFormAuthenticationService" bindingConfiguration="basicHttpEndpointBinding"/>
      </service>

    </services>
  </system.serviceModel>
</configuration>
