<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="IntsTechDB" connectionString="data source=testdb.sqlite;initial catalog=Test;App=EntityFramework;" providerName="System.Data.SQLite.EF6"/>-->
	<add name="IntsTechDB" connectionString="Server=127.0.0.1;Database=TalaadThai_Demo;Trusted_Connection=False;User Id=sa;Password=p@ssw0rd"
  providerName="System.Data.SqlClient"/>
</connectionStrings>
