<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module assemblyFile="Cet.Hw.Core.SmartClient" moduleType="Cet.Hw.Core.SmartClient.CoreModule, Cet.Hw.Core.SmartClient" moduleName="CoreModule"/>


  <module assemblyFile="DemoTaladThaiWg.Shell" moduleType="DemoTaladThaiWg.Shell.ShellModule, DemoTaladThaiWg.Shell" moduleName="ShellModule">
    <dependencies>
      <dependency moduleName="CoreModule"/>
    </dependencies>
  </module>

</modules>