<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="moduleUnity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <system.serviceModel>
    <services>

      <service behaviorConfiguration="UnityServiceBehavior" name="Measurement.AppService.MeasuringService">
        <endpoint binding="basicHttpBinding" address="" contract="Measurement.AppServiceContract.IMeasuringService" bindingConfiguration="basicHttpEndpointBinding"/>
      </service>

      <service behaviorConfiguration="UnityServiceBehavior" name="Measurement.AppService.MeasuringReportService">
        <endpoint binding="basicHttpBinding" address="" contract="Measurement.AppServiceContract.IMeasuringReportService" bindingConfiguration="basicHttpEndpointBinding"/>
      </service>

      <service behaviorConfiguration="UnityServiceBehavior" name="Measurement.AppService.ProcessPlanService">
        <endpoint binding="basicHttpBinding" address="" contract="Measurement.AppServiceContract.IProcessPlanService" bindingConfiguration="basicHttpEndpointBinding"/>
      </service>
      
    </services>
  </system.serviceModel>
</configuration>